.header-container{
   display: flex;
   flex-direction: row;
   padding: 18px 0;
}

.left-header{
    position: relative;
    top: 5px;
    left: 25em;
}

.about-container{
    height: 50px;
}

.right-header{
    display: flex;
    position: relative;
    left: 55em;
    top: 25px;
    font-size: 19px;
}


.number{
    color: #fff;
    height: 20px;
    width: 20px;
    position: absolute;
    right: -10px;
    font-size: 12px;
    line-height: 20px;
    background-color: #FF0000;
    border-radius: 50%;
    top: -10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


@media(max-width: 640px) {
    .header-container{
        display: flex;
        flex-direction: row;
        padding: 10px 0 30px;
    }
    .about-container{
        height: 37px;
    }
    .left-header{
        display: relative;
        left: 1em;    
    }
    .right-header{
        display: relative;
        left: 4em;
        top: 20px;
        font-size: 14px;
    }
    .number{
        height: 17px;
        width: 17px;
        font-size: 13px;
        line-height: 18px;
    }
}

